@import url('https://fonts.googleapis.com/css?family=Inter:400|Poppins:400');

html {
	font-size: 100%;
} /*16px*/

body {
	background-color: #eff0f3;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.65;
	color: #0d0d0d;
}

p {
	margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1.05rem;
	font-family: 'Inter', serif;
	font-weight: 400;
	line-height: 1.15;
}

h1 {
	margin-top: 0;
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

small,
.text_small {
	font-size: 0.8em;
}

/* --------------- */

header {
	padding: 2rem 3rem;
}

td svg {
	height: 25px;
	color: #ff8e3c;
}

td button {
	background: none;
	border: none;
	cursor: pointer;
}

svg:hover {
	color: #d9376e;
}

td img {
	width: 100px;
	border-radius: 50%;
}

thead {
	font-size: 1.25em;
	background: #fffffe;
}

tr {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(7, minmax(100px, 1fr));
	place-items: center center;
	gap: 20px;
	padding: 1rem 2rem;
}

tr.even {
	background-color: #fffffe;
}

tr:hover {
	background-color: #ff8e3c15;
}
